{% extends "base.html" %}
{% load static %}

{% block content %}




<!-- Main content -->
<div class="w3-main">

  <div class="w3-row w3-padding-32">
    <div class="w3-threethird w3-container top-text" style="text-align: center">
        <a href="/" class="lang-logo">
            <img src="{% static 'yodev-logo.png'%}">
        </a>
      <h1>180 Días de Código</h1>
      <p>Este es un Curso Virtual para quienes deseen Aprender a Programar Desde Cero. Nos enfocaremos en la creación de Aplicaciones Web. <br>
        Los temas que veremos son HTML, CSS, JavaScript, Git, Python y Django. </p>
        <p> Dominar estas tecnologías te servirán para crear tus propias páginas y aplicaciones web
            o <br> para encontrar un trabajo como Web Developer.</p>


    </div>
  </div>

    <div class="w3-row w3-padding-32" style="background:#dfdfdf;">
    <div class="w3-threethird w3-container" style="text-align: center;">
        <h2>Modalidad del Curso</h2>
      <p>El curso está diseñado para que inviertas entre 1 y 2 horas diarias, <br>
        5 o 6 días a la semana durante <strong>180 días</strong> <br>
        (6 meses aprox).</p>
      <p>📚 Además de contar con <strong>lecturas y videos</strong>,
        también tendrás acceso a <br> <strong>asesorías semanales</strong> en las que contestaré todas tus dudas <br>
        y resolveré problemas comunes que se suele tener al inicio de este camino.</p>

        <p>
           🔥 El contenido + las asesorías de los sábados serán <strong>gratis</strong> para <br> este primer grupo que inicia el 18 de Mayo.
        </p>
<p>
🚀 <strong> Adicionalmente</strong>, he decidido ofrecer <strong> coaching personal </strong>para quienes <br> quieran tener mayor acompañamiento a lo largo del curso.
    <br> El coaching incluye: <br>

    <br>   ✅ Revisión de tareas.
    <br>  ✅ Seguimiento y coaching individual.
    <br>   ✅ Acceso a un grupo privado para resolver dudas durante la semana.
</p>
    <p> * El coaching personal tendrá un costo de S/.35 mensuales.</p>


    </div>
  </div>

  <div class="w3-row" style="background:#cdcdcd;">

    <div class="w3-container">
            <h2>Regístrate aquí:</h2>
            <form action="">
                    <div>
                        <label for="email">E-mail: </label> <br>
                        <input type="email" name="email" id="email" placeholder="Utilizarás este e-mail para iniciar sesión...">
                    </div>
                    <div>
                        <label for="password">Password: </label>  <br>
                        <input type="password" name="password" id="password">
                    </div>
                    <div>
                        <label for="re-password">Tu password de nuevo: </label>  <br>
                        <input type="password" name="re-password" id="re-password">
                    </div>
                    <div>
                        <label for="name">Nombre: </label>  <br>
                        <input type="text" name="name" id="name">
                    </div>
                    <div>
                        <label for="lastname">Apellidos: </label>  <br>
                        <input type="text" name="lastname" id="lastname">
                    </div>
                    <div>
                        <label>¿Te gustaría contar con el coaching personal por S/35 mensuales? </label> <br>
                        <input type="radio" id="male" name="membership" value="yes">
                        <label for="male">Sí!</label><br>
                        <input type="radio" id="female" name="membership" value="moreinfo">
                        <label for="female">Me gustaría recibir más información</label><br>
                        <input type="radio" id="other" name="membership" value="notnow">
                        <label for="other">No por ahora</label>
                    </div>
                <p></p>
                    <div>
                        <input type="submit" value="EMPEZAR!">
                    </div>
            </form>
    </div>

  </div>



  <footer id="myFooter" >
    <div class="a-line"></div>

    <div class="w3-container  w3-theme-l2 w3-padding-32" style="text-align: center;">
      <img src="{% static 'html.png'%}" width="140px" alt="HTML" style="padding: 12px;">
      <img src="{% static 'css.png'%}" width="140px" alt="CDD" style="padding: 13px;">
        <img src="{% static 'js.png'%}" width="140px" alt="JavaScript" style="padding: 15px;">
        <img src="{% static 'python.png'%}" width="140px" alt="Python" style="padding: 15px;">
    </div>

    <div class="a-line"></div>
  </footer>

<!-- END MAIN -->
</div>


{% endblock %}
